:root {
    /* Fonts */
    --main-font-family: 'Roboto',
        sans-serif;

    /* Colors */
    --main-color: #212121;;
    --main-light-color: #FFFFFF;
    --current-color: #2196F3;
    --secondary-color: #757575;
    --footer-color: #2F303A;
    --button-color: #F5F4FA;
    
    
}

body {
    
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: var(--main-color);
}

 /* Common Styles */




.header-studio {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'Raleway',
            sans-serif;
    color: var(--current-color)
}

.header-web {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'Raleway',
        sans-serif;
    color: var(--main-color)
}


.header {
    background-color: var(--main-light-color);

}

/* Ссылка хедера. */

.list-header {
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em

}



  

/* Скрываем подчеркивание ссылок */

a {
    text-decoration: none;
}


/* Скрываем h1 */
.List-works {
    display: none
}

/* Скрываем h2 в index.html */

.hide-title {
    display: none
}


/* Убираем маркеры */
li {
    list-style-type: none;

}

/* Дефолтные параметры кнопки */


.button {
    border: none;
    cursor: pointer;
    font-family: inherit;
     font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--main-light-color);
    letter-spacing: 0.03em
   
}






/* Текст кнопок */

.button-text {
font-weight: 500;
font-size: 16px;
line-height: 1.6;
}

/* hover focus button */

.button:hover,
.button:focus {
    background-color: var(--current-color);
    color: var(--main-light-color)
    
   
}



/* hover focus ссылок */


.link:hover,
.link:focus
 {
    
    background-color: var(--current-color);
    color: var(--current-color);
    
    background-color: var(--main-light-color)

}




/* Ссылка address footer */

.link-address {

    color: var(--main-light-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}


/* info footer  */

.address {
    

    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    letter-spacing: 0.03em
    

}


.link-address {
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em
}

/* Hover footer address  */

.address:hover,
.address:focus,
.link-address:hover,
.link-address:focus {
    color: var(--current-color);
    
}

/* Заголовок ссылки */

.list-title {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--main-color);
    letter-spacing: 0.06em
}

/* Параграф ссылки  */

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: var(--secondary-color);
    letter-spacing: 0.03em;
}

/* Heder info  */

.heder-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: var(--secondary-color);
    letter-spacing: 0.02em;
}


/* Фон футера */

.footer {
    background: #2F303A;
}

/* Цвет логотипа */

.footer-web {
    color: var(--main-light-color);
    font-size: 26px;
    line-height: 1.2;
    font-family: 'Raleway',
            sans-serif;
}

/* Цвет логотипа */

.footer-studio {
    color: var(--current-color);
    font-size: 26px;
    line-height: 1.2;
    font-family: 'Raleway',
            sans-serif;
}


/* WebStudio Styles */

.hero-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    color: var(--main-light-color);
    /* Текс большими буквами */
    text-transform:uppercase;
    letter-spacing: 0.03em;
    
}





.hero-section {

    
         background: var(--footer-color)
}


.hero-button {
   
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
        cursor: pointer;
        background-color: var(--current-color);
        color: var(--main-light-color);   
}


.section-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    color: var(--footer-color);
    letter-spacing: 0.03em;
    
/* Делает все буквы большими */

}


.section-title {
    text-transform:uppercase
}




.section-paragraph {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-color);
    letter-spacing: 0.03em
}


.title-work {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--main-color);
    letter-spacing: 0.03em;
}

.img-tile {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    color: var(--main-color);
    letter-spacing: 0.03em;
}

.foto-paragraph {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: var(--secondary-color);
    letter-spacing: 0.03em;

}

/* Делает цвет синий в статическом состоянии */

.caren-studio {
    color: var(--current-color);
}


.caren-portfolio {
    color: var(--current-color);
}


.button-section {
    background: var(--button-color)
}

        
    